<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="MemberMapper">
	
	<resultMap type="com.swebchat.member.model.dto.MemberDTO" id="resultMember">
		<result property="id" column="id"/>
		<result property="pwd" column="pwd"/>
	</resultMap>
	
	<!-- member -->
	<insert id="insertMember" parameterType="com.swebchat.member.model.dto.MemberDTO">
		insert into SwebChatDB.member(id,pwd) values (#{id},#{pwd})
	</insert>
	
	<select id="selectMember" parameterType="com.swebchat.member.model.dto.MemberDTO" resultType="com.swebchat.member.model.dto.MemberDTO">
		select id,pwd from SwebChatDB.member where id = #{id} and pwd = #{pwd}
	</select>
	
	<select id="getMemberList" resultType="com.swebchat.member.model.dto.MemberDTO">
		select id,pwd from SwebChatDB.member
	</select>

	<update id="updateMember" parameterType="java.lang.String">
		update SwebChatDB.member set pwd = #{pwd} where id = #{id}
	</update>
		 
	<delete id="deletedMember" parameterType="java.lang.String">
		delete from SwebChatDB.member where id = #{id}
	</delete>
	
	<select id="selectUserId" parameterType="String" resultType="Integer">
		select count(*) from SwebChatDB.member where id = #{id}
	</select>
	

</mapper>
    
    